<ul class="nav">
    <li><button class="nav_button" href="">Accueil</button></li>
    <li><button class="nav_button" href="">Tim & les dinos</button></li>
    <li><button class="nav_button" href="">Attraction</button></li>
    <li><button class="nav_button" href="">Billets</button></li>
</ul>