<ul class="nav">
    <li><button class="nav_button"><a href="/">Accueil</a></button></li>
    <li><button class="nav_button"><a href="/dinosaur">Tim & les dinos</a></button></li>
    <li><button class="nav_button"><a href="/logAdmin">Connexion</a></button></li>
    <li><button class="nav_button"><a href="/ticket">Billets</a></button></li>
</ul>