<%- include("../partials/head", { title: "Ticket" }) %>
    <%- include("../partials/header") %>
        <%- include("../partials/nav") %>
            <main>
                <section class="contact" id="contact">
                    <h3 class="contact_title">Réservez Votre Visite</h3>
                    <form action="/ticket" method="POST" class="contact_form" id="reservationForm">
                        <div class="form_group">
                            <label class="form_group_label" for="first_name">Prénom</label>
                            <input class="form_group_input" type="text" id="first_name" name="first_name" required>
                        </div>

                        <div class="form_group">
                            <label class="form_group_label" for="last_name">Nom de famille</label>
                            <input class="form_group_input" type="text" id="last_name" name="last_name" required>
                        </div>

                        <div class="form_group">
                            <label class="form_group_label" for="date">Date souhaitée</label>
                            <input class="form_group_input" type="date" id="date" name="date" required>
                        </div>

                        <div class="form_group">
                            <label class="form_group_label" for="quantity">Nombre de visiteurs</label>
                            <input class="form_group_input" type="number" id="quantity" name="quantity" min="1"
                                required />
                        </div>

                        <div class="form_group">
                            <label class="form_group_label" for="type">Type de billet</label>
                            <select class="form_group_select" id="type" name="type">
                                <option value="Standard">Standard</option>
                                <option value="Family">Family</option>
                                <option value="VIP">V.I.P</option>
                            </select>
                        </div>

                        <button type="submit" class="contact-form_submit">Envoyer la Réservation</button>
                    </form>
                </section>
            </main>
            <%- include("../partials/footer") %>