<%- include("../partials/head", { title: "Accueil" }) %>
<%- include("../partials/header") %>

    <main class="page">
        <h1>Librairie 2</h1>
    </main>

    <%- include("../partials/footer") %>